---
import { PROJECTS } from '../../config';
import Project from './Project.astro';
import Up from '../PageNav/Up.astro';
import Down from '../PageNav/Down.astro';
---

<section
  id='projects'
  class='section projects__container'
>
  <h2 class='section__title'>Projects</h2>

  <div class='projects'>
    {
      PROJECTS.map((project, idx) => (
        <div
          id={`project__${idx + 1}`}
          tabindex='0'
          class='project'
        >
          <Project project={project} />
        </div>
      ))
    }
  </div>
  <Up destination='about' />
  <Down destination='technologies' />
</section>

<style>
  .projects {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  @media screen and (max-width: 1179px) {
    .projects {
      flex-direction: column;
      gap: 1em;
    }

    .projects__container {
      height: fit-content;
      min-height: 200vh;
    }
  }
</style>
