---
import { PROJECTS } from '../../config';
import Project from './Project.astro';
import Up from '../PageNav/Up.astro';
import Down from '../PageNav/Down.astro';
---

<section
  id='projects'
  class='section projects__container'
>
  <h2 class='section__title'>Projects</h2>

  <div class='projects'>
    {PROJECTS.map(project => <Project project={project} />)}
  </div>
  <Up destination='about' />
  <Down destination='technologies' />
</section>

<style>
  .projects {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
</style>
