* {
	/* background-color: inherit; */
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4 {
	color: var(--bold-text);
	line-height: 1.5;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5;
}

li {
	list-style: none;
}

:root {
	--shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
	--color-bg: #f2f2f2;
	--color-text: #a6a6a6;
	--color-text-hover: #495b73;
	--bold-text: #262625;
}

[data-theme="light"] {
	--shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
	--color-bg: #f2f2f2;
	--color-text: #a6a6a6;
	--bold-text: #262626;
}

[data-theme="dark"] {
	--shadow: 0 0px 20px 0 rgba(38, 38, 37, 0.2);
	/* --color-bg: #586f8c; */
	--color-bg: #495b73;
	--color-text: #a6a6a6;
	--color-text-hover: #f2f2f2;
	--bold-text: #f2f2f2;
}

[data-theme="dark"] .icon__dark {
	display: none;
}

[data-theme="light"] .icon__light {
	display: none;
}

.center {
	align-content: center;
	display: flex;
	justify-content: center;
}

.section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
}

.section__title {
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.link {
	position: relative;
	transition: color 0.167s ease;
}

.link:hover,
.up__link:hover {
	color: var(--color-text-hover);
}

.link::before,
.up__link::before {
	background-color: var(--color-text-hover);
	content: '';
	display: inline;
	height: 0.1em;
	position: absolute;
	transition: width 0.167s ease;
	width: 0%;
}

.link::before {
	bottom: 0;
}

.up__link::before {
	bottom: 100%;
}

.link:hover::before,
.link:focus::before,
.up__link:hover::before,
.up__link:focus::before {
	width: 100%;
}

.down__container {
	bottom: 1em;
	position: absolute;
	width: 100%;
}

.up__container {
	top: 1em;
	position: absolute;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	.section__title {
		/* margin-bottom: 1em; */
	}

	.section {
		min-height: 90vh;
		height: fit-content;
	}
}
