* {
	background-color: inherit;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4 {
	color: var(--bold-text);
	line-height: 1.5;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25;
}

:root {
	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--color-bg: #f2f2f2;
	--color-text: #444444;
	--color-text-hover: #c2573c;
	--bold-text: #222;
	--nav-text: #000000;
	--code: #f2f2f2;
	--block-quote-border: #999;
	--block-quote-text: #222;
	--slider-bg: #dddddd;
	--slider-bg-before: #fff;
	--slider-input-bg: #8758ff;
}

[data-theme="light"] {
	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	--color-bg: #f2f2f2;
	--color-text: #444444;
	--bold-text: #222;
	--nav-text: #000000;
	--code: #f2f2f2;
	--block-quote-border: #999;
	--block-quote-text: #222;
	--slider-bg: #dddddd;
	--slider-bg-before: #fff;
	--slider-input-bg: #8758ff;
}

[data-theme="dark"] {
	--shadow: rgba(0, 0, 0, 0.16) 0px, 10px, 36px, 0px, rgba(0, 0, 0, 0.06) 0px, 0px, 0px, 1px;
	--color-bg: #000;
	--color-text: #dddddd;
	--bold-text: #eeeeee;
	--nav-text: #dddddd;
	--code: #f2f2f2;
	--block-quote-border: #8e32dc;
	--block-quote-text: #dddddd;
}

.center {
	align-content: center;
	display: flex;
	justify-content: center;
}

.section {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin-top: 5em;
}

.section__title {
	margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
}

.nav {
	margin-top: 2em;
}

.link {
	position: relative;
	transition: color 0.167s ease;
}

.link:hover {
	color: var(--color-text-hover);
}

.link::before {
	background-color: var(--color-text-hover);
	bottom: 0;
	content: '';
	display: inline;
	height: 0.1em;
	position: absolute;
	transition: width 0.167s ease;
	width: 0%;
}

.link:hover::before,
.link:focus::before {
	width: 100%;
}
