---
import Up from "./PageNav/Up.astro";
import Down from "./PageNav/Down.astro";
---

<section
  id='about'
  class='section about__container'
>
  <h2 class='section__title'>About Me</h2>

  <div class='center about__body'>
    <div class='bio'>
      <p>
        I am a Software Engineer based in Los Angeles, CA. I have proven ability working with some of the most in-demand
        technologies, like JavaScript, Python, Node.js, React, Express, and Flask, and a passion for bringing them to
        life in responsive, intuitively designed, and functional applications.
      </p>
      <p>
        I come from a background of 10+ years as a Pastry Chef working in some of the most celebrated restaurants in
        California and New York. I am also uniquely positioned with past experience studying Architecture and Design,
        which allows me to bring a keen eye for user experience, interface and product aesthetic to my work as an
        engineer.
      </p>

      <p>
        I pride myself on my organization, focus and diligent hard work, resulting in products which uphold a genuine
        high standard.
      </p>
    </div>
    <img
      alt='Gray Nance Headshot Image for Professional Software Engineering Portfolio Website'
      class='about__img'
      src='https://cdn.discordapp.com/attachments/1021558885598900225/1063249118446759966/Nance_Gray_Profile_Img.jpg'
    />
  </div>
  <Up destination='top'/>
  <Down destination='projects'/>
</section>

<style>
  .about__body {
    gap: 5em;
  }

  .about__img {
    border-radius: 0.2em;
    box-shadow: var(--shadow);
    height: 300px;
  }

  .bio {
    max-width: 500px;
  }

  .bio > p {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 799px) {
    .about__img {
      display: none;
    }
  }
</style>
